:root{
    /* Farvepalette */
      --olive: #49492F;
      --clay: #D0CBBB;
      --sand: #88623E;
      --ocean: #6D8C8F;
      --logo-colour: #21441E;
      --background-colour: #D0CBBB;
      --darkgrey: #2E2E2E;
}
