body {
    margin: 0;
    background-color: var(--background-colour);
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin-top: 0.5rem;
}

.icons, .links {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;  
    margin-top: 1.5rem;   
}

.icons {
    gap: 1rem;
}

.links {
    gap: 1.5rem;
}

.navlink {
    font-family: frontis-light;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navicon {
    text-decoration: none;
}

.navicon > svg {
    height: 40px;
    width: auto;
}

/* Hero */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImg {
    width: 100vw;
    height: auto;
    display: block;
}

.heroContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.heroText {
    color: #F7F7F2;
    text-align: center;
    font-family: frontis-light;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.704px;
    margin: 0;
    max-width: 800px;
}

.heroBtn, .category {
    /* color: #F7F7F2; */
    text-align: center;
    font-family: frontis-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.22px;
    text-decoration: none;
    /* border: 1.5px solid #F7F7F2; */
    padding: 20px;
    width: 15vw;
    margin: 0;
}

.heroBtn {
    color: #F7F7F2;
    border: 1.5px solid #F7F7F2;
}

.category {
    color: black;
    border: 1.5px solid black;
    background-color: #E1E0D7;
}

.heroBtn:hover, .category:hover {
    color: var(--logo-colour);
    border-color: var(--logo-colour);
}

/* Categories */
.categories {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem 0;
}

/* Line */
.line {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

/* Bestsellers section */
.sectionHeading {
    margin-left: 5.5vw;
    font-family: frontis-light;
    font-size: 45px;
    font-weight: 300;
    line-height: 150%;
}

.cardContainer {
    margin: 0 5.5vw;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.bestsellerCard {
    background-color: #E1E0D7;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
}

.imgContainer {
    display: flex;
    justify-content: center;
    margin: 0;
}

.productImg {
    display: block;
    max-width: 300px;
    height: auto;
    background-color: #FFF;
    margin: 0;
}

.productName, .productTag, .productPrice {
    font-family: inter-light;
    color: black;
    margin-left: 10px;
}

.productName, .productPrice {
    font-size: 14px;
}

.productTag {
    font-size: 10px;
}